%td.table-cell.managed-app-quantity-cell{colspan: "1"}
  %span.managed-app-quantity

%td.table-cell.managed-app-usage-cell{colspan: "2"}
  - if @app.key is "mysql" or @app.key is "ms-sql"
    x
    %input.number{name: "usage", value: 1, type: "text"}
    instance(s) / server
  - else
    &nbsp;
      

- if @app.key is "ms-sql" or @app.key is "iis" or @app.key is "active-directory"
  %td.table-cell.managed-app-cell{colspan: "1"}
    %select.software{name: "software"}
      - for soft in @software
        %option{value: soft.price} =soft.name
  %td.table-cell.managed-app-cell{colspan: @colspan-1}
    Managed #{@app.name}
- else
  %td.table-cell.managed-app-cell{colspan: @colspan}
    Managed #{@app.name}

%td.table-cell.price-cell{colspan: "1"}
  %span.price
  %a.remove-button{href: "#", data: {key: @app.key}} X