/* Base HTML
----------------------------------------------------- */
/* line 4, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
html {
  -webkit-text-size-adjust: 100%; }

/* line 10, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
body {
  background: white; }

/* line 20, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
p, .price {
  color: #807f83; }

/* line 24, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
a {
  color: #11853F; }

/* line 28, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
h3 {
  font-size: 24px;
  color: black; }

/* line 33, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
h4 {
  font-size: 18px;
  color: black; }

/* line 38, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
input, select {
  font-size: 13px;
  height: 30px;
  width: auto;
  vertical-align: middle; }

/* line 45, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
input[type=checkbox] {
  position: relative;
  top: -3px; }

/* line 50, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
input[type=text], input[type=number] {
  border-radius: 0px;
  padding: 0px 4px;
  height: 30px;
  width: 30px;
  position: relative;
  top: 6px; }

/* Major layout
----------------------------------------------------- */
/* line 63, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.main-container {
  opacity: 0; }
  /* line 66, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .main-container.visible {
    opacity: 1;
    transition: opacity 300ms; }

/* line 72, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.page-form {
  position: relative;
  margin-top: 0;
  padding-top: 140px; }

/* line 78, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.page-footer {
  margin-top: 0;
  margin-bottom: 50px; }

/* line 83, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.spinner {
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -16px; }

/* Buttons
----------------------------------------------------- */
/* line 93, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.remove-button {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  background: url(../images/remove.png);
  position: absolute;
  right: 10px;
  top: 34%;
  overflow: hidden; }
  /* line 105, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .remove-button:hover {
    background-position: 0 -21px; }

/* line 110, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.add-button, .add-managed-button {
  border-radius: 3px;
  background: #00853f;
  color: white;
  display: inline-block;
  padding: 4px 10px 3px 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 1px; }
  /* line 121, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .add-button .plus, .add-managed-button .plus {
    overflow: hidden;
    display: inline-block;
    background: url(../images/plus.png);
    width: 11px;
    height: 11px;
    margin-right: 3px; }
  /* line 130, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .add-button:hover, .add-managed-button:hover {
    transition: background 200ms;
    text-decoration: none;
    background: #274D36;
    color: white; }

/* line 138, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.add-managed-button {
  background: #959595;
  text-transform: none;
  font-size: 12px;
  letter-spacing: 0;
  margin-left: 5px;
  position: relative;
  cursor: pointer; }
  /* line 148, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .add-managed-button .plus {
    overflow: hidden;
    display: inline-block;
    background: url(../images/plus.png);
    width: 11px;
    height: 11px;
    margin-right: 0px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -2px; }
  /* line 161, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .add-managed-button .down-arrow {
    overflow: hidden;
    display: inline-block;
    background: url(../images/down-arrow.png);
    width: 9px;
    height: 5px;
    margin-left: 4px;
    margin-right: -2px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -2px; }
  /* line 175, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .add-managed-button:hover {
    background: #686868; }
    /* line 177, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .add-managed-button:hover .managed-app-options {
      display: inline-block; }

/* line 183, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.managed-app-options {
  z-index: 100;
  position: absolute;
  top: 22px;
  left: 0px;
  width: 270px;
  background: none;
  color: white;
  display: inline-block;
  display: none;
  padding: 0;
  padding-top: 2px;
  font-size: 12px; }
  /* line 196, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .managed-app-options a {
    color: white;
    display: block;
    padding: 4px 8px;
    background: #959595;
    transition: background 200ms; }
    /* line 203, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .managed-app-options a:first-child {
      border-radius: 3px 3px 0 0; }
    /* line 207, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .managed-app-options a:last-child {
      border-radius: 0 0 3px 3px; }
    /* line 211, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .managed-app-options a:hover {
      text-decoration: none;
      background: #686868; }

/* Tables
----------------------------------------------------- */
/* line 221, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 15px; }
  /* line 226, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table select {
    position: relative;
    top: 6px;
    width: 90px; }
  /* line 232, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table input[type=range] {
    width: 100px; }

/* line 238, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.support-table td {
  text-align: center;
  color: black;
  border-bottom: 1px solid #D3D3D0;
  padding: 10px 5px;
  transition: border 200ms;
  width: 240px; }
  /* line 246, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-table td p {
    color: black; }
  /* line 250, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-table td:first-child {
    width: 270px;
    color: #807f83;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px; }
/* line 260, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.support-table tr:last-child td {
  border-bottom: none; }

/* line 266, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.table-row, .table-headers {
  display: table-row;
  width: 100%;
  background: #f0f0ee;
  font-size: 14px; }
  /* line 272, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table-row .table-header, .table-headers .table-header {
    vertical-align: bottom;
    background: #E5E5E5; }
  /* line 277, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table-row .table-cell, .table-headers .table-cell {
    vertical-align: middle; }
  /* line 281, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table-row .table-cell, .table-row .table-header, .table-headers .table-cell, .table-headers .table-header {
    position: relative;
    display: table-cell;
    padding: 7px;
    color: #807f83;
    font-weight: normal;
    line-height: 1.3;
    border-top: none;
    border-bottom: solid 1px #D3D3D0; }
    /* line 291, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row .table-cell .tooltip-wrapper, .table-row .table-header .tooltip-wrapper, .table-headers .table-cell .tooltip-wrapper, .table-headers .table-header .tooltip-wrapper {
      position: relative;
      width: 100%;
      display: block; }
    /* line 297, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row .table-cell .has-tooltip, .table-row .table-header .has-tooltip, .table-headers .table-cell .has-tooltip, .table-headers .table-header .has-tooltip {
      position: absolute;
      top: -6px;
      left: 0;
      height: 30px;
      width: 100%;
      display: block;
      z-index: 10; }
    /* line 307, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row .table-cell.managed-app-cell, .table-row .table-header.managed-app-cell, .table-headers .table-cell.managed-app-cell, .table-headers .table-header.managed-app-cell {
      text-align: center;
      position: relative;
      left: -96px;
      font-size: 16px; }
    /* line 314, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row .table-cell.managed-app-quantity-cell, .table-row .table-header.managed-app-quantity-cell, .table-headers .table-cell.managed-app-quantity-cell, .table-headers .table-header.managed-app-quantity-cell {
      text-align: center; }
    /* line 318, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row .table-cell.managed-app-usage-cell, .table-row .table-header.managed-app-usage-cell, .table-headers .table-cell.managed-app-usage-cell, .table-headers .table-header.managed-app-usage-cell {
      position: relative;
      left: -11px; }
  /* line 324, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .table-row.is-managed, .table-headers.is-managed {
    background: #f0f0ee url(../images/dash.gif) repeat-x bottom left; }
    /* line 327, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .table-row.is-managed .table-cell, .table-headers.is-managed .table-cell {
      border-bottom: none; }

/* line 333, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.table-row {
  height: 57px; }

/* line 337, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.table-headers {
  background: #E5E5E5;
  color: #807f83; }

/* line 343, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.table-header {
  vertical-align: bottom; }

/* line 347, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.tooltip {
  width: 200px;
  z-index: 19; }

/* line 352, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.rangeslider {
  display: inline-block;
  width: 60px; }

/* line 357, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.quantity-cell {
  width: 31px; }
  /* line 360, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .quantity-cell input {
    width: 30px; }

/* line 365, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.type-cell {
  width: 94px; }

/* line 369, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.os-cell {
  width: 81px; }

/* line 373, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.managed-cell {
  width: 65px; }
  /* line 376, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .managed-cell.disabled {
    opacity: 0.2;
    pointer-events: none; }

/* line 382, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.usage-cell {
  width: 116px; }
  /* line 385, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .usage-cell input {
    width: 35px; }
  /* line 389, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .usage-cell select {
    width: 95px; }

/* line 394, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.range-cell {
  width: 90px; }
  /* line 397, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .range-cell span {
    display: inline-block;
    width: 14px;
    text-align: left;
    margin-right: 3px; }
  /* line 404, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .range-cell input[type=range] {
    position: relative;
    top: -2px;
    opacity: 0; }

/* line 412, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.memory-cell span {
  width: 20px; }
/* line 416, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.memory-cell .memory-text-input {
  width: 35px;
  padding-left: 3px;
  margin-right: 2px;
  font-size: 12px; }

/* line 426, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.cpu-cell span {
  width: 20px; }
/* line 430, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.cpu-cell .cpu-text-input {
  width: 35px;
  padding-left: 3px;
  margin-right: 2px;
  font-size: 12px; }

/* line 440, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.storage-cell span {
  width: 35px; }
/* line 444, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.storage-cell .storage-text-input {
  width: 35px;
  padding-left: 3px;
  margin-right: 2px;
  font-size: 11px; }

/* line 452, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.price-cell {
  width: 88px; }
  /* line 454, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .price-cell .price {
    width: 78px;
    min-width: 20px;
    text-align: left;
    word-wrap: break-word;
    display: inline-block; }

/* line 463, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.add-managed-app-cell {
  width: 120px; }

/* Calculator Sections
----------------------------------------------------- */
/* line 472, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.calculator-section {
  position: relative;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 50px; }
  /* line 478, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .calculator-section h3 {
    margin-bottom: 0;
    line-height: 1.4; }
  /* line 483, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .calculator-section p {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 488, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .calculator-section ul {
    color: #807f83;
    font-size: 15px; }
    /* line 492, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .calculator-section ul li {
      margin-bottom: 0; }
  /* line 497, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .calculator-section .subtotal-wrapper {
    position: absolute;
    right: 0;
    top: 24px;
    text-transform: uppercase;
    font-size: 14px;
    color: #807f83;
    width: 300px;
    text-align: right;
    overflow: hidden; }
    /* line 508, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .calculator-section .subtotal-wrapper .subtotal {
      margin-left: 7px;
      display: inline-block;
      font-size: 24px;
      color: #00853f;
      word-wrap: break-word; }

/* line 519, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.calculator-section.disabled {
  opacity: 0.3;
  pointer-events: none; }

/* Total Section
----------------------------------------------------- */
/* line 528, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.green-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #00853f;
  padding: 20px;
  overflow: hidden;
  z-index: 100; }
  /* line 538, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .green-section h3 {
    color: white;
    float: left;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: 6px; }
  /* line 547, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .green-section .datacenter-select {
    clear: both; }
    /* line 549, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .green-section .datacenter-select span {
      color: white;
      font-size: 14px;
      position: relative;
      top: 2px;
      margin-right: 4px; }
    /* line 557, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .green-section .datacenter-select .datacenter {
      clear: both;
      display: inline-block;
      margin: 5px 0 0;
      text-transform: capitalize; }
  /* line 565, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .green-section .lpChatTextLinkText {
    color: white; }
  /* line 570, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .green-section .buttons .btn-discuss {
    background: #284e36;
    border: 2px solid #108442;
    color: white !important;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    top: 4px;
    text-align: center; }
    /* line 580, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .green-section .buttons .btn-discuss:hover {
      background: #108442; }
  /* line 586, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .green-section .total-box {
    float: right;
    width: 55%;
    border-radius: 6px;
    padding: 15px;
    background: #284e36; }
    /* line 593, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .green-section .total-box .price {
      line-height: 1;
      color: white;
      font-size: 42px;
      margin-bottom: 20px;
      word-wrap: break-word; }
    /* line 601, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .green-section .total-box .estimated {
      color: #addd6c;
      width: 60px;
      margin-left: 10px;
      display: inline-block;
      line-height: 1.2; }

/* Services
----------------------------------------------------- */
/* line 615, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.services {
  margin-top: -10px; }

/* line 619, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.service {
  text-align: center;
  border: solid 5px #d3d3d0;
  width: 314px;
  margin: 10px 30px 20px 0;
  display: inline-block;
  transition: border 200ms; }
  /* line 627, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service:nth-child(3), .service:nth-child(6) {
    margin-right: 0; }
  /* line 631, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service select {
    width: 50px;
    position: relative;
    top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block; }
  /* line 640, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service h4 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    width: 100%; }
  /* line 648, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service form {
    margin: 0; }
  /* line 652, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service.disabled {
    opacity: 0.3;
    pointer-events: none; }
  /* line 657, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service .service__info {
    padding: 10px;
    background: #f0f0ee;
    position: relative;
    height: 110px;
    width: 100%;
    display: table; }
  /* line 666, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service .service__description {
    background: #f0f0ee;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 0 20px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 200ms; }
  /* line 679, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service .service__inputs {
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    width: 100%; }
    /* line 686, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service .service__inputs .price {
      text-align: right;
      position: absolute;
      right: 20px;
      top: 20px; }
    /* line 693, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service .service__inputs .quantity-wrapper {
      display: inline-block;
      width: 65px; }
    /* line 698, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service .service__inputs input[type=range] {
      position: relative;
      z-index: 10;
      margin-left: 6px;
      margin-right: 5px;
      top: -1px; }
    /* line 707, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service .service__inputs.slider .price {
      top: 14px; }
  /* line 714, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service.object-storage input[type=range], .service.object-storage .rangeslider {
    width: 114px; }
  /* line 719, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service.bandwidth {
    width: 658px; }
    /* line 722, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service.bandwidth .service__info {
      height: 60px; }
    /* line 726, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service.bandwidth input[type=range], .service.bandwidth .rangeslider {
      width: 440px; }
    /* line 730, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .service.bandwidth .service__info {
      min-height: 0; }
  /* line 735, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service.active {
    border-color: #a5d867; }
  /* line 740, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .service:hover .service__description {
    opacity: 1; }

/* Included Section
----------------------------------------------------- */
/* line 751, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
#included {
  overflow: hidden; }
  /* line 753, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  #included ul {
    list-style: none;
    margin: 0;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 33%;
    float: left; }
  /* line 763, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  #included li {
    list-style: none;
    width: 100%;
    color: #807f83;
    line-height: 1.4;
    margin-left: 0;
    margin: 10px 0;
    padding-right: 40px; }
  /* line 773, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  #included p {
    font-size: 14px;
    clear: both;
    text-align: left;
    width: 800px; }

/* line 782, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
#bandwidth > p {
  width: 630px; }

/* Support
----------------------------------------------------- */
/* line 793, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
#support > p {
  width: 220px; }
/* line 797, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
#support .support-table {
  margin-top: -50px; }

/* line 802, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
.support-select {
  background: #f0f0ee;
  border: solid 5px #d3d3d0;
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
  height: 204px;
  text-align: center;
  cursor: pointer; }
  /* line 812, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select h4 {
    line-height: 60px; }
  /* line 816, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select .status-label-wrapper {
    background: white;
    padding: 24px 0;
    padding-bottom: 10px;
    height: 134px; }
  /* line 823, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select .status-label {
    display: inline-block;
    background: #D3D3D0;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px 9px 20px;
    line-height: 1;
    font-size: 13px;
    letter-spacing: 1px; }
  /* line 835, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 0 10px; }
  /* line 842, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select:hover {
    text-decoration: none; }
  /* line 846, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
  .support-select.selected {
    border-color: #a5d867; }
    /* line 849, /Users/matt/Work/clc/PriceEstimator/source/css/main.scss */
    .support-select.selected .status-label {
      background: #a5d867; }
