%section.page-form
  %section#monthly-total.green-section
    .container
      .pull-left
        %h3 Estimated Monthly Total
        .datacenter-select
          %span Data Center:
          %select.datacenter

      .total-box
        %span.price &nbsp;0.00
        %span.estimated estimated / month
        %span.currency-select
          %select.currency
        .buttons.pull-right
          %a.btn.btn-discuss.no-print.estimator-print{:href => "#", :title => "Print estimate"} print
          %a.btn.btn-discuss.no-print{:href => "/contact/"} contact
          /
            <span id="lpButDivID-1393532216480" class="btn btn-discuss"></span>
            <script type="text/javascript" charset="UTF-8" src="https://sales.liveperson.net/hc/56948775/?cmd=mTagRepstate&amp;site=56948775&amp;buttonID=46&amp;divID=lpButDivID-1393532216480&amp;bt=3&amp;c=1"></script>

  = image_tag "/images/spinner.gif", class: "spinner"
  .container.main-container
    #servers.server-table.calculator-section
      %h3 Servers and Managed Services
      %ul
        %li
          Scalable, elastic, self-service, pay as you go. No fixed instance sizes - build servers to custom specs.
          <a href="/servers" target="_blank" class="no-print">More info</a>.
        %li
          Managed services billed hourly, no minimums.
      .subtotal-wrapper
        %span.print-only--inline Servers and Managed Services&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      %table.table
        %tr.table-headers
          %th.table-header.quantity-cell
            QTY
          %th.table-header.usage-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "VCPU and Memory are billed hourly when VMs are running; Storage is charged hourly based on what’s allocated."}}
            USAGE
          %th.table-header.os-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Linux is free; Red Hat and Windows are priced hourly per vCPU"}}
            OS
          %th.table-header.managed-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Enable Operating System Management by CenturyLink Service Engineers"}}
            MANAGED OS
          %th.table-header.cpu-cell.range-cell
            vCPU
          %th.table-header.memory-cell.range-cell MEMORY (GB)
          %th.table-header.storage-cell.range-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Persistent block storage in addition to base storage of the OS template."}}
            STORAGE (GB)
          %th.table-header.price-cell MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add Server

    #hyperscale-servers.server-table.calculator-section
      %h3 Hyperscale Instances
      %p
        Includes 100% Flash storage. Ideal for NoSQL workloads, Hadoop, and web-scale architectures.
        <a href="/hyperscale" target="_blank" class="no-print">More info</a>.
      .subtotal-wrapper
        %span.print-only--inline Hyperscale Instances&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      .table
        .table-headers
          .table-header.quantity-cell QTY
          .table-header.usage-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "VCPU and Memory are billed hourly when VMs are running; Storage is charged hourly based on what’s allocated."}}
            USAGE
          .table-header.os-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Linux is free; Red Hat and Windows are priced hourly per vCPU"}}
            OS
          .table-header.managed-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Enable Operating System Management by CenturyLink Service Engineers"}}
            MANAGED OS
          .table-header.cpu-cell.range-cell vCPU
          .table-header.memory-cell.range-cell MEMORY (GB)
          .table-header.storage-cell.range-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "In addition to base storage of the OS template, local, 100% Flash storage. No automatic snapshots included. "}}
            STORAGE (GB)
          .table-header.price-cell MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add Hyperscale Instance


    #baremetal-servers.calculator-section
      %h3 Bare Metal Servers
      %p
        Dedicated physical servers on-demand that are ideal for compute-intensive workloads.
        <a href="/bare-metal" target="_blank" class="no-print">More info</a>.
      .subtotal-wrapper
        %span.print-only--inline Bare Metal Servers&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      %table.table
        %tr.table-headers
          %th.table-header.quantity-cell QTY
          %th.table-header.quantity-cell.usage-cell USAGE
          %th.table-header.config-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Bare Metal servers are billed hourly once allocated."}}
            CONFIGURATION
          %th.table-header.os-cell OS
          %th.table-header.price-cell MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add Bare Metal Server

    #rdbss.server-table.calculator-section
      %h3 Relational DB Services
      %ul
        %li
          High Performance, Enterprise-Grade MySQL-compatible Database on Hyperscale all-flash cloud servers.
          <a href="/relational-database" target="_blank" class="no-print">More info</a>.
      .subtotal-wrapper
        %span.print-only--inline Relational DB Services&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      %table.table
        %tr.table-headers
          %th.table-header.quantity-cell
            QTY
          %th.table-header.usage-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "VCPU and Memory are billed hourly when VMs are running; Storage is charged hourly based on what’s allocated."}}
            USAGE
          %th.table-header.type-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Single or Replicated"}}
            TYPE
          %th.table-header.cpu-cell.range-cell
            vCPU
          %th.table-header.memory-cell.range-cell MEMORY (GB)
          %th.table-header.storage-cell.range-cell
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Persistent block storage in addition to base storage of the OS template."}}
            STORAGE (GB)
          %th.table-header.price-cell MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add Relational DB Service

    #intrusion-prevention-service.calculator-section
      %h3 Intrusion Prevention Service (IPS)
      %p
        Monitor all incoming and outgoing server traffic and utilize that data to detect and block known vulnerabilities.
        <a href="/intrusion-prevention-service" target="_blank" class="no-print">More info</a>.
      .subtotal-wrapper
        %span.print-only--inline Intrusion Prevention Service&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      %table.table
        %tr.table-headers
          %th.table-header IPS
          %th.table-header
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Service is billed hourly per instance when enabled."}}
            USAGE
          %th.table-header INSTANCES
          %th.table-header MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add IPS

    #appfog-services.calculator-section
      %h3 AppFog
      %p
        AppFog supports the most popular runtimes and frameworks, automatic load balancing, easy-to-use scaling, and
        <a href="/appfog" target="_blank" class="no-print">more</a>.
      .subtotal-wrapper
        %span.print-only--inline AppFog&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      %table.table
        %tr.table-headers
          %th.table-header DEPLOYED APPLICATIONS
          %th.table-header
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Memory is billed hourly per instance when deployments are running."}}
            USAGE
          %th.table-header INSTANCES
          %th.table-header MEMORY / INSTANCE (MB)
          %th.table-header MONTHLY COST

      %a.add-button.no-print{href: "#"} <span class="plus"></span> Add AppFog Deployment

    #networking-services.calculator-section.services-section
      %h3 Networking Services
      %p Add additional networking services to your environment.
      .subtotal-wrapper
        %span.print-only--inline Networking Services&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      .services

    #additional-services.calculator-section.services-section
      %h3 Additional Services
      %p Add additional services to your environment.
      .subtotal-wrapper
        %span.print-only--inline Additional Services&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      .services

    #bandwidth.calculator-section.services-section
      %h3 Bandwidth
      %p
        Redundant, high-speed connectivity out of CenturyLink Cloud’s global network of data centers. All other bandwidth is free.
        <a class="no-print" href="/bandwidth" target="_blank">More info</a>.
      .subtotal-wrapper
        %span.print-only--inline Bandwidth&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00
      .services

    #support.calculator-section
      %h3 Support Tier
      %p
        Choose from 3 tiers–Developer, Professional, and Enterprise.
        <a class="no-print" href="/support" target="_blank">Learn more about support</a>.
      .subtotal-wrapper
        %span.print-only--inline Support Tier&nbsp;|&nbsp;
        Sub-total
        .subtotal
          $0.00

      %table.support-table
        %tr
          %td
          %td
            .support-select{data: {plan: "developer"}}
              %h4 Developer
              .status-label-wrapper
                .status-label Select
                %p Automatically included for free with every CenturyLink Cloud account.

          %td
            .support-select{data: {plan:"professional"}}
              %h4 Professional
              .status-label-wrapper
                .status-label Select
                %p
                  Default option for contract based customers.
                  %br
                  %a.no-print{href: "/contact",target: "_blank"} contact us for full quote
          %td
            .support-select{data: {plan: "enterprise"}}
              %h4 Enterprise
              .status-label-wrapper
                .status-label Select
                %p
                  Estimate does not include designated support engineers.
                  %br
                  %a.no-print{href: "/contact", target: "_blank"} contact us for full quote

        %tr
          %td Price
          %td Included
          %td
            %p Graduated, based on spend
            %p 10% of monthly CenturyLink Cloud usage for the first $0-$10k
            %p 7% of monthly CenturyLink Cloud usage from $10K-$80k
            %p 5% of monthly CenturyLink Cloud usage from $80K-$250k
            %p 3% of monthly CenturyLink Cloud usage over $250k +
          %td
            %p Graduated, based on spend
            %p 10% of monthly CenturyLink Cloud usage for the first $0-$10k
            %p 7% of monthly CenturyLink Cloud usage from $10K-$80k
            %p 5% of monthly CenturyLink Cloud usage from $80K-$250k
            %p 3% of monthly CenturyLink Cloud usage over $250k +

        %tr
          %td Forums, DOCS, White Papers, Guides
          %td Included
          %td Included
          %td Included

        %tr
          %td Unlimited Break/Fix (24x7)
          %td Included
          %td Included
          %td Included

        %tr
          %td Tier 1 support (24x7)
          %td Via Ticketing
          %td Via Ticketing, Chat, Twitter, Email, Phone
          %td Via Ticketing, Chat, Twitter, Email, Phone

        %tr
          %td Tier 2 support (24x7)
          %td Triaged by pool of Shared Engineers
          %td Triaged by pool of Shared Engineers
          %td Triaged by Designated Engineers

        %tr
          %td Response Time (SLA)
          %td &lt; 8 hours
          %td &lt; 60 minutes
          %td &lt; 30 minutes

        %tr
          %td Service Management
          %td n/a
          %td Option for shared or designated
          %td Option for shared or designated


    #included.calculator-section
      %h3 Included With Every Account

      %ul
        %li Governance
        %li Automation
        %li Management
        %li Billing
      %ul
        %li Orchestration
        %li VLAN
        %li IDS/IDP
      %ul
        %li Rolling Snapshots
        %li Guaranteed IOPS
        %li SLA

      %p
        Assumptions for calculations:
        %br
        720 hours in a month
        %br
        30.42 days in a month
        %br
        4.35 weeks in a month
      %p
        <sup>*</sup>ESTIMATE DOES NOT INCLUDE ANY SETUP FEES
      %p
        This Estimator is currently in Beta, and provides an estimate of usage charges for CenturyLink Cloud services based on information you provide.
        Monthly charges will be based on your actual usage of CenturyLink Cloud services, and may vary from the estimates the Estimator has provided.
        %br
        %a.no-print{href: "/legal"} Legal & Privacy Policy

%section.page-footer.print-only--block
  %div.container
    %div.row.copyright
      %div.span6
        &copy; 2015 CenturyLink, Inc. All rights reserved. All other trademarks cited here are the properties of their respective owners.
