%section.lead-gen#lead-gen
  %span.lead-gen__close &times;
  .container
    .row
      .lead-gen-column
        %h2 Start your free trial
        %h1 Up to $2,500 usage
        %p.with-small
          %small Once we receive your information, a CenturyLink Sales Representative will call you back to activate your account within 24 hours.
      .lead-gen-column
        %form.lead-gen__form
          %input{ type: 'email', placeholder: 'Email address' }
          %input{ type: 'text', placeholder: 'Mobile number *' }
          %button.lead-gen__form__sign-up Sign Up
          %p.with-small.sms-rates
            %small
              %em *We will send a SMS message to verify your account, standard rates apply.
