<script>
function printEstimate () {
  print();
}
</script>
<section class="header print-only--block">
    <div class="main navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand">
                    <a class="logo">
                        <%= image_tag "/images/logo-print.png" %>
                    </a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-inverse">Contact</a>
                    <!-- <span class="btn btn-inverse" id="lpButDivID-1393532216480"></span> -->
                    <div class="header-phone" style="">1.877.388.4373</div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= partial "index" %>