<section class="header no-print">
    <div class="main navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand">
                    <a href="/" class="logo">
                        <%= image_tag "/images/logo.png" %>
                    </a>
                </div>
                <div class="pull-right">
                    <a href="/contact" class="btn btn-inverse">Contact</a>
                    <!-- <span class="btn btn-inverse" id="lpButDivID-1393532216480"></span> -->
                    <div class="header-phone" style="">1.877.388.4373</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-title estimator no-print">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Pay only for what you use</h1>
                <p class="lead">Estimate your monthly bill using our cost estimator</p>
            </div>
        </div>
    </div>
</section>

<%= partial "index" %>
<%= partial "lead-gen" %>

<section class="page-footer">
    <div class="container">
        <div class="row copyright">
            <div class="span6">
                &copy; 2015 CenturyLink, Inc. All rights reserved. All other trademarks cited here are the properties of their respective owners.
            </div>
        </div>
    </div>
</section>
